/*-- scss:defaults --*/
// $h2-font-size:          1.6rem !default;
// $headings-font-weight:  500 !default;
$headings-color:              #17becf !default;
$primary:                     #17becf !default; 